*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/data/build/
/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/domain/build/
/domain/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/ui/build/
/ui/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/.idea/.gitignore
/.idea/AndroidProjectSystem.xml
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.claude/settings.local.json
/.idea/vcs.xml
